body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
    border: 3px solid #fff;
    border-radius: 6px;
    z-index: 10;
    position: relative;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

div {
    font-size: 18px;
    margin-top: 20px;
}

.btnEmpilhar, .btnDesempilhar, .btnEstadoAtual:hover{
    cursor: pointer;
}

.fundo-image{
    background-image: url(/assets/montanhas.jpg);
    position: relative;
    height: 100vh;
    border-radius: 8px;
}

.title-estoque{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    color: #fff;
}

.resultado{
    display: flex;
    justify-content: center;
    z-index: 100;
}

#resultado {
    color: #fff;
    font-weight: bold;
}


.box-input{
    padding: 2rem 0 3rem 0;
}

.input-value{
    width: 17rem;
    padding: 1rem;
    border-radius: 6px;
    border: 3px solid #fff;
}

.pilha{
    color: #fff;
}

.button-remover, .button-peek, .button-estadoPìlha{
    padding-bottom: 3rem;
}